
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
.btn-1{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
   font-size: 1.25rem;
   font-weight: 600;
   border-radius: 8px;
   border: none;
}
main{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h3{
    font-size: 3rem;
    font-weight: bold;
    color: #131313;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
nav ul a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #424242;
}
.bg-colour{
    background-color: rgba(255, 144, 14, 0.1);;
}
nav ,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    color: #131313;
}
.banner-image{
    width: 100%;
}
.teams{
    display: flex;
    align-items: center;
    gap: 130px;
}
.teams-image{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
}
.our-feature{
    max-width: 530px;
}
.feature-title{
    font-size: 2.8rem;
}
.feature-summary{
    color: #424242;
    padding-bottom: 40px;
}
#quick-list{
    color: #424242;
    font-weight: 500;
}
#quick-li{
    color: #FF900E;
    font-weight: bold;
}
#quick-l{
    color: #131313;
    font-weight: bold;
}
section h3{
    color: #131313;
    font-size: 3rem;
    font-weight: bold;
}
section p{
    color: #424242;
    font-size: 1rem;
    
}
@media screen and (max-width:576px) {
    nav , nav ul , .teams{
        flex-direction: column;
    }
    .teams-image{
        grid-template-columns: repeat(1 , 1fr);
    }
}
@media screen and (min-width:576px) and  (max-width:992px){
    .teams{
        flex-direction: column;
    }
}