
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
.btn-1{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
   font-size: 1.25rem;
   font-weight: 600;
   border-radius: 8px;
   border: none;
}
main{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h3{
    font-size: 3rem;
    font-weight: bold;
    color: #131313;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
nav ul a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #424242;
}
.bg-colour{
    background-color: rgba(255, 144, 14, 0.1);;
}
nav ,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    color: #131313;
}
.banner-image{
    width: 100%;
}
.teams{
    display: flex;
    align-items: center;
    gap: 130px;
}
.teams-image{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
}
.our-feature{
    max-width: 530px;
}
.feature-title{
    font-size: 2.8rem;
}
.feature-summary{
    color: #424242;
    padding-bottom: 40px;
}
#quick-list{
    color: #424242;
    font-weight: 500;
}
#quick-li{
    color: #FF900E;
    font-weight: bold;
}
#quick-l{
    color: #131313;
    font-weight: bold;
}
section h3{
    color: #131313;
    font-size: 3rem;
    font-weight: bold;
}
section p{
    color: #424242;
    font-size: 1rem;
    
}
.features{
    display: flex;
    gap: 140px;
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    border-radius: 8px;
    padding-left: 20px;
    margin-bottom: 20px;

}
.feature-card{
        padding: 30px;
        border-radius: 8px;
       box-shadow: 0 4px 30px 0 #FFFFFF;
        margin-bottom: 20px;
}
.feature-card,.title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}
.feature-img img{
    width: 100%;
}
#experience-badge{
    padding: 45px,42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -75px;
}
.experience-year{
    font-size: 4rem;
    font-weight: bold;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom:20px;
}
.fact-name{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    color: #424242;
}
.fact-summary{
    max-width: 540px;
}
.sponser-info{
   max-width: 540px;
   margin: 50px auto;
    /* margin-left: 580px; */
    /* margin-right: 689px; */
    text-align: center;
    /* border: 1px solid red; */
}
.sponser-companies{
        display: grid;
        grid-template-columns: repeat(5,1fr); 
}
.sponser-companies img{
          filter: grayscale(100%);
}
.main-footer{
   
    border: 1px solid rgba(255, 143, 14, 0.212);
    border-radius: 8px;
    background-color: rgba(255, 143, 14, 0.212);
    /* margin-top: 130px;
    margin-bottom: 230px;
    margin-left: 240px;
    margin-right: 240px; */
    margin: 130px 240px;
    
}
.copyright{
    font-size: 1.25rem;
    text-align: center;
    
}
@media screen and (max-width:576px) {
    nav , nav ul , .teams ,.features{
        flex-direction: column;
    }
    .teams-image ,.fact-container ,.sponser-companies{
        grid-template-columns: repeat(1 , 1fr);
    }
    .fact-container{
        justify-items: center;
        gap: 24px;
    }
    .sponser-companies{
        justify-items: center;
        gap: 50px;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    .main-footer{
        margin: 50px 20px;
    }
   
}
@media screen and (min-width:576px) and  (max-width:992px){
    .teams ,.features{
        flex-direction: column;
    }
    .sponser-companies,.fact-container{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 50px;
    }
       #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
       .main-footer{
        margin: 50px 20px;
    }
    
}